<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>

    <%- include('_header'); %>

    <%- body %>

    <%- include('_footer'); %>
    
    <%- script %>
</body>
</html>

<!-- My Controller is saying I want to render "user_profile.ejs" since my express layouts is being used by "app" it finds the layout which should be a wrapper covering my "user_profile.ejs", So my wrapper is renedered and this "layout.ejs" is rendered together with it the "user_profile.ejs" and it is sent to the browser. -->

<!-- So combining "user_profile" and my "layout" filling the user profile in the place of body ( <%- body %> ) and it is send back to the browser -->
